<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2 class="text-center">Login</h2>
    </div>

    <!-- Login Form -->
    <div *ngIf="errLogin" class="alert alert-danger">
      {{ errLogin }}
    </div>
    <form *ngIf="formLogin" [formGroup]="formLogin" (ngSubmit)="login()">
      <input type="text" id="login" formControlName="email" class="fadeIn second" name="login" placeholder="email">
      <input type="text" id="password" formControlName="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
